<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<script src="https://cdn.tailwindcss.com"></script>
		<title>
			{% block title %}QuestLog
			{% endblock %}
		</title>
	</head>
	<body class="bg-gray-50 min-h-screen flex flex-col">

		<header id="logoHeader" class="flex items-center justify-between px-8 py-6 bg-white shadow-md transition-all">
			<a href="{{ path('steam_profile')}}" id="logo" class="flex text-6xl font-bold transition-all">
				<div class="text-blue-600">Quest</div>
				<div class="text-orange-500">Log</div>
			</a>

			{% if username is defined %}
				<div class="absolute left-1/2 top-7 transform -translate-x-1/2 text-center">
					<div class="inline-block bg-gray-300 text-gray-600 text-lg font-semibold px-4 py-1 rounded shadow-sm">
						Profile:
						{{ username }}
					</div>
				</div>
			{% endif %}
		</header>
		<main class="flex-1 container mx-auto p-6"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
